{% extends 'base_location.html' %}

{% block location %}
    <div class="container-contact100">
        <div class="wrap-contact100">
            {% if messages %}
                <div class="alert alert-warning">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <span class="contact100-form-title">
                    Create administrative region
                </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Administrative region name</span>
                    {{ form.name }}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Geographic regions</span>
                    <div>
                        {{ form.geographic_region }}
                    </div>
                    <span class="focus-input100"></span>
                </div>

<<<<<<< HEAD
                            {{ form.geographic_region }}
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>
=======
>>>>>>> a8c794986520911ffa5e0c2420601125bab8b761

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" type="submit">
                            <span>
                                Submit
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

